@font-face {
    font-family: 'NotoSerifBold';
    src: url(../assets/fonts/NotoSerif-Bold.ttf);
}

@font-face {
    font-family: 'NotoSerifRegular';
    src: url(../assets/fonts/NotoSerif-Regular.ttf);
}

@font-face {
    font-family: 'PlayBold';
    src: url(../assets/fonts/Play-Bold.ttf);
}

@font-face {
    font-family: 'PlayRegular';
    src: url(../assets/fonts/Play-Regular.ttf);
}

/* -------------- Общие ---------------- */

html {
    scroll-behavior: smooth;
}

body {
    width: 65%;
    margin: 0 auto;
    font-family: NotoSerifRegular;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
} 

main {
    flex: 1;
    border-left: 2px solid rgb(241, 241, 241);
    border-right: 2px solid rgb(241, 241, 241);
}

h1 {
    font-family: PlayBold;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h2 {
    font-family: PlayBold;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 10px;
}

a:link {
    color: rgb(100, 44, 18);
}

a:visited {
    color:  rgb(168 100 90);
}

a:hover {
    color:  rgb(241, 112, 87);
}

/* -- Кнопка вверх -- */

.up-btn {
    display: block;
    position: sticky;
    bottom: 20px;
    left: 196px;
    text-align: right;
    width: 105%;
}
  
.up-btn:hover {
    cursor: pointer;
}

.up-btn:hover svg path {
    fill: rgb(241, 112, 87);
}
  
/* --------------------------  Секции - общее ------------------------ */

.section-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

section {
    margin: 15px 50px 50px;
    scroll-margin-top: 75px;
    /*text-align: justify;*/
}

ul {
    padding-left: 20px;
    list-style-type: circle;
}

/* -------------------  Навигация, header ------------------- */

header {
    /*background-color: rgb(245 245 245);*/
    background-color: #efeceb;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 18px 0;
    font-family: PlayRegular;
}

.nav li {
    display: inline-block;
    list-style-type: none;  
}

.nav a {
    text-decoration: none;
    border: 1px solid rgb(126 126 126);
    padding: 5px 12px;
    border-radius: 2px;
}

.nav a:hover {
    border: 1px solid rgb(241, 112, 87);
    background-color: #faf8f7;
}

.nav .chosen,
.nav  .chosen-last-item {
    color:  rgb(241, 112, 87);
    background-color: #faf8f7;
}

/* ------------- Секция "Основное" ------------ */

#main-info {
    /*display: grid;
    grid-template-areas: "photo info contacts";
    grid-template-columns: 0.5fr 1fr 0.5fr;
    column-gap: 10px;*/
    position: relative;
    margin: 0 0 50px 50px;
    /*margin-top: 20px;*/
}

.photo {
    position: absolute;
    top: 35px;
    /*grid-area: photo;*/
    display: inline-block;
    padding: 3px 3px 0;
    border: 3px solid #CAC5C1;
    z-index: 10;
}

.photo img {
    height: 250px;
}

.info-block {
    display: grid;
    grid-template-areas: "text-block contacts";
    grid-template-columns: 1fr 42%;
    column-gap: 30px;
    width: 80%;
    margin-left: auto;
    /*border-left: 3px solid rgb(241, 241, 241);*/
    border-left: 3px solid #CAC5C1;
    border-bottom: 3px solid #CAC5C1;
    background-color: #faf8f7;
}

.text-block {
    grid-area: text-block;
    margin-left: 5.8vw;
    margin-top: 10px;
    padding: 35px 0;
}

.text-block ul {
    margin-top:  5px;
}

.name {
    margin-bottom: 20px;
}

.occupation {
    margin-bottom: 30px;
}

/* Контакты, портфолио */

.contacts-portfolio-block {
    grid-area: contacts;
    position: relative;
    align-self: flex-start;
    display: grid;
    grid-template-areas: "contact-bl"
                        "portfolio-bl";
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    row-gap: 30px;
}

.contacts-portfolio-block h3 {
    font-family: PlayBold;
    font-size: 1.2em;
    text-transform: uppercase;
    z-index: 3;
    margin: 0;
    background-color: rgb(250, 248, 247);
}

.contacts-portfolio-block li:not(:last-child) {
    margin-bottom: 10px;
}

.contacts-portfolio-block ul {
    padding-left: 0px;
    list-style: none;
}

.contacts-portfolio-block a {
    text-decoration: none;
}

.contacts-portfolio-block a:hover svg path {
    fill: rgb(241, 112, 87);
}

.contacts {
    grid-area: contact-bl;
    border: 3px solid #CAC5C1;
    margin-top: 25px;
    margin-right: 20px;
    padding: 15px;
}

.portfolio {
    grid-area: portfolio-bl;
    border: 3px solid #CAC5C1;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 15px;
}

.contacts h3 {
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 15px;
}

.portfolio h3 {
    padding: 0 10px 10px;
    position: absolute;
    bottom: 66px;
    left: 15px;
}

.contacts ul {
    margin-bottom: 10px;
}

.portfolio ul {
    margin-bottom: 0;
    margin-top: 10px;
}

/* ------------- Секция "О себе" ------------ */

.education {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#about-myself p {
    margin-top: 10px;
    margin-bottom: 25px;
}

#about-myself li:not(:last-child) {
    margin-bottom: 10px;
}

/* Опыт работы */

.previous-exp {
    display: grid;
    grid-template-areas: "current-exp"
                        "lecturer-bsu-exp"
                        "design-exp"
                        "cartography-exp";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 18px;
}

.exp-line {
    display: grid;
    grid-template-areas: "current-exp-date current-exp-text";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 100%;
    column-gap: 15px;
}

.exp-date {
    text-align: right;
    font-style: italic;
    border-right: 1px solid #929292;
    padding-right: 15px;
}

.previous-exp ul {
    margin-top: 5px;
    margin-bottom: 0;
}

/* Текущий опыт работы */
.current-exp {
    grid-area: current-exp;
}

.current-exp-date {
    grid-area: current-exp-date;
}

.current-exp-text {
    grid-area: current-exp-text;
}

/* В БГУ */

.lecturer-bsu-exp {
    grid-area: lecturer-bsu-exp;
    grid-template-areas: "lecturer-bsu-exp-date lecturer-bsu-exp-text";
}

.lecturer-bsu-exp-date {
    grid-area: lecturer-bsu-exp-date;
}

.lecturer-bsu-exp-text {
    grid-area: lecturer-bsu-exp-text;
}

/*В Бюрократе*/

.design-exp {
    grid-area: design-exp;
    grid-template-areas: "design-exp-date design-exp-text";
}

.design-exp-date {
    grid-area: design-exp-date;
}

.design-exp-text {
    grid-area: design-exp-text;
}

/* В Квадрографе */

.cartography-exp {
    grid-area: cartography-exp;
    grid-template-areas: "cartography-exp-date cartography-exp-text";
}

.cartography-exp-date {
    grid-area: cartography-exp-date;
}

.cartography-exp-text {
    grid-area: cartography-exp-text;
}

/* ------------- Секция "Навыки" ------------ */

.skills-list {
    display: grid;
    grid-template-areas: "hardskills-left softskills-right";
    grid-template-columns: 49% 49%;
    grid-template-rows: 100%;
    column-gap: 20px;
    width: 90%;
    margin-top: 25px;
}

.skills-list ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hardskills-left-block {
    grid-area: hardskills-left;
}

.softskills-right-block {
    grid-area: softskills-right;
}

.hardskills-left-list,
.softskills-right-list {
    margin-left: 20px;
}

.graphic-editors {
    margin-top: 10px;
}

.graphic-editors ul {
    list-style-type: disc;
}

.skills-list .graphic-editors ul {
    margin-top: 0;
}

/* ------------- Секция "Языки" ------------ */

.eng-lang {
    margin-top: 10px;
}

.eng-lang p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.eng-lang ul {
    list-style-type: disc;
}

.language-list {
    margin-bottom: 10px;
}

.language-list li {
   list-style-type: none;
   margin-bottom: 10px;
}

.language-list li:first-of-type {
    margin-bottom: 18px;
 }

.language-list li::before {
    content: "";
    background-image: url("../assets/point.svg");
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-right: 5px;
}

.english-exp-use-block {
    margin-left: 40px;
}

.language-list .english-exp-use li {
    list-style-type: circle;
}

.english-exp-use-block p,
.english-exp-use {
    margin-top: 5px;
    margin-bottom: 5px;
}



/* ------------- Секция "Опыт в области IT" ------------ */

.experience-block {
    display: grid;
    grid-template-areas: "experience-date experience-text";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 100%;
    column-gap: 15px;
}

.current-experience-block {
    margin-bottom: 20px;
}

.experience-date {
    grid-area: experience-date;
    text-align: right;
    font-style: italic;
    color: rgb(217, 95, 70)
}

.experience-text {
    grid-area: experience-text;
    border-left: 1px solid #929292;
    padding-left: 15px;
}

.github-link-block {
    margin-top: 5px;
}

.github-link-block a {
   text-decoration: none;
}

.github-link-block a:hover svg path {
    fill: rgb(241, 112, 87);
}

/* ---------------- Блок проектов ---------------*/

.project {
    border-bottom: 1px solid #929292;
}

.general-block {
    display: grid;
    /*grid-template-columns: 45% 53%;*/
    grid-template-columns: auto 1fr; 
    grid-template-rows: 100%;
    column-gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.more-block {
    display: none;
    margin-top: 15px;
}

/*.to-do-list-more {
    display: none;
}*/

.project a:hover svg path {
    fill: rgb(241, 112, 87);
}

.project a {
    text-decoration: none;
}

/* -- Кнопки "Показать подробнее", "Показать всё" и "Скрыть" -- */

.switch-displaying-btn {
    display: block;
    margin-left: auto;
}

.show-more-btn {
    display: flex; 
    column-gap: 7px;
    align-items: center;
    margin-left: auto;
}

.show-more-btn:hover svg path {
    fill:  rgb(168 100 90);
}

.hide-more-btn {
    display: flex;
    column-gap: 7px;
    align-items: center;
    margin-left: auto;
}

.hide-more-btn:hover svg path {
    fill:  rgb(168 100 90);
}

#experience button {
    padding: 4px 8px;
    border: 1px solid rgb(61, 61, 61);
}
 
#experience button:hover {
    cursor: pointer;
    color:  rgb(168 100 90);
    border: 1px solid rgb(168 100 90);
    background-color: #faf8f7;
}

/* --------- To Do List ---------- */

.to-do-list-general {
    width: 85%;
    grid-template-areas: "to-do-list-screenshot to-do-list-info";
}

.to-do-list-screenshot {
    grid-area: to-do-list-screenshot;
}

.to-do-list-info {
    grid-area: to-do-list-info;
}

/* --- Construct anchor links --- */

.construct-links-general {
    width: 100%;
    grid-template-areas: "construct-screenshot construct-info";
}

.construct-links-screenshot {
    grid-area: construct-screenshot;
    border: 1px solid #d4d1d1;
    padding: 5px 0;
}

.construct-links-info {
    grid-area: construct-info;
}

/* --- Workbook --- */

.workbook-general {
    width: 100%;
    grid-template-areas: "workbook-screenshot workbook-info";
}

.workbook-screenshot {
    grid-area: workbook-screenshot;
}

.workbook-info {
    grid-area: workbook-info;
}

/* --- Birthdates --- */

.birthdates-general {
    width: 100%;
    grid-template-areas: "birthdates-screenshot birthdates-info";
}

.birthdates-screenshot {
    grid-area: birthdates-screenshot;
}

.birthdates-info {
    grid-area: birthdates-info;
}

/* --- RP locations --- */

.rp-locations-general {
    width: 100%;
    grid-template-areas: "rp-locations-screenshot rp-locations-info";
}

.rp-locations-screenshot {
    grid-area: rp-locations-screenshot;
}

.rp-locations-info {
    grid-area: rp-locations-info;
}

.project.rp-locations {
    border-bottom: 1px solid black;
}

.collection.project {
    border-bottom: 1px solid transparent;
}

/* --- 3d-artkarta --- */

.artkarta-general {
    width: 100%;
    grid-template-areas: "artkarta-screenshot artkarta-info";
}

.artkarta-screenshot {
    grid-area: artkarta-screenshot;
}

.artkarta-info {
    grid-area: artkarta-info;
}

/* --- Novogrudok --- */

.novogrudok-general {
    width: 100%;
    grid-template-areas: "novogrudok-screenshot novogrudok-info";
}

.novogrudok-screenshot {
    grid-area: novogrudok-screenshot;
}

.novogrudok-info {
    grid-area: novogrudok-info;
}

/* --- Collection --- */

.collection-general {
    width: 100%;
    grid-template-areas: "collection-screenshot collection-info";
}

.collection-screenshot {
    grid-area: collection-screenshot;
}

.collection-info {
    grid-area: collection-info;
}

.collection-general {
    margin-bottom: 0;
}

/* ------------------- Секция "Хобби" --------------------- */

#hobby {
    margin: 0 50px 20px;
}

.hobby-list {
    display: grid;
    grid-template-areas: "hobby-left hobby-right";
    grid-template-columns: 63% 34%;
    grid-template-rows: 100%;
    column-gap: 20px;
}

.hobby-list ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hobby-left-list {
    grid-area: hobby-left;
}

.hobby-right-list {
    grid-area: hobby-right;
}

/* --------------------------  Footer ------------------------ */

footer {
    background-color: #f5f3f2;
    width: 100%;
    padding: 15px 0;
}

.contact-block {
    display: grid;
    grid-template-areas: "title arrow icon-block";
    grid-template-columns: 15% 10% 1fr;
    grid-template-rows: 100%;
    column-gap: 20px;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}

.footer-title {
    grid-area: title;
    font-family: PlayBold;
    font-size: 1em;
    text-transform: uppercase;
    color: #8A8A8A;
}

.arrow {
    grid-area: arrow;
}

.contact-icons {
    grid-area: icon-block;
    display: grid;
    grid-template-areas: "in tg gh email";
    grid-template-columns: 0.5fr 0.5fr 0.5fr auto;
    grid-template-rows: 100%;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}

.in-icon {
    grid-area: in;
}

.tg-icon {
    grid-area: tg;
}

.github-icon {
    grid-area: gh;
}

.email-viber-block {
    grid-area: email;
}

.email-viber-block img {
    margin-right: 5px;
}

.email-icon {
    display: grid;
    grid-template-areas: "icon email";
    grid-template-columns: 10% auto;
    grid-template-rows: 100%;
    align-items: center;
    margin-bottom: 7px;
}

.viber-icon {
    display: grid;
    grid-template-areas: "icon viber";
    grid-template-columns: 10% auto;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: start;
}

.contact-icons svg:hover path {
    fill: rgb(241, 112, 87);
}