@font-face {
    font-family: 'NotoSerifBold';
    src: url(../assets/fonts/NotoSerif-Bold.ttf);
}

@font-face {
    font-family: 'NotoSerifRegular';
    src: url(../assets/fonts/NotoSerif-Regular.ttf);
}

@font-face {
    font-family: 'PlayBold';
    src: url(../assets/fonts/Play-Bold.ttf);
}

@font-face {
    font-family: 'PlayRegular';
    src: url(../assets/fonts/Play-Regular.ttf);
}

/* -------------- Общие ---------------- */

html {
    scroll-behavior: smooth;
}

body {
    width: 70%;
    margin: 0 auto;
    font-family: NotoSerifRegular;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
} 

main {
    flex: 1;
    border-left: 2px solid rgb(241, 241, 241);
    border-right: 2px solid rgb(241, 241, 241);
}

h2 {
    font-family: PlayBold;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

a:link {
    color: rgb(62, 62, 62);
}

a:visited {
    color:  rgb(130, 88, 82);
}

a:hover {
    color:  rgb(241, 112, 87);
}

/* --------------------------  Секции - общее ------------------------ */

.section-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

section {
    margin: 0 50px 50px;
    scroll-margin-top: 83px;
}

ul {
    padding-left: 20px;
    list-style-type: circle;
}

/* -------------------  Навигация, header ------------------- */

header {
    background-color: rgb(245 245 245);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 18px 0;
    font-family: PlayRegular;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid rgb(62, 62, 62);
    padding: 5px 12px;
    border-radius: 2px;
}

.nav li:hover {
    border: 1px solid rgb(241, 112, 87);
}

.nav a {
    text-decoration: none;
}

/* TODO ------------- Секция "О себе" ------------ */


/* ------------- Секция "Хобби" ------------ */

.hobby-list {
    display: grid;
    grid-template-areas: "hobby-left hobby-right";
    grid-template-columns: 63% 34%;
    grid-template-rows: 100%;
    column-gap: 20px;
}

.hobby-list ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hobby-left-list {
    grid-area: hobby-left;
}

.hobby-right-list {
    grid-area: hobby-right;
}

/* --------------------------  Footer ------------------------ */

footer {
    background-color: rgb(245 245 245);
}