/* --------------- Media Queries ----------------- */

@media screen and (max-width: 1500px) {

    /* Меню и основной блок*/
    .nav {
        width: 75%;
    }
    .text-block {
        margin-left: 6.3vw;
    }
    .info-block {
        column-gap: 25px;
    }




}

@media screen and (max-width: 1380px) { 
    
    /* Меню и основной блок*/
    .nav {
        width: 80%;
    }
    .text-block {
        margin-left: 7.5vw;
    }

    /* "Навыки" */
    .skills-list {
        width: 100%;
    }

    /* "Опыт в области IT" */
    .to-do-list-general {
        width: 100%;
    }
    .general-block {
        column-gap: 30px;
        row-gap: 10px;
    }
    .rp-locations-general {
        grid-template-areas: "rp-locations-screenshot rp-locations-main-info-block"
                             "rp-locations-more-info-block rp-locations-more-info-block";
    }
    .artkarta-general {
        grid-template-areas: "artkarta-screenshot artkarta-main-info-block"
                             "artkarta-more-info-block artkarta-more-info-block";
    }
    .novogrudok-general {
        grid-template-areas: "novogrudok-screenshot novogrudok-main-info-block"
                             "novogrudok-more-info-block novogrudok-more-info-block";
    }
    .collection-general {
        grid-template-areas: "collection-screenshot collection-main-info-block"
                             "collection-more-info-block collection-more-info-block";
    }



}

@media screen and (max-width: 1310px) { 
    
    /* Меню и основной блок*/
    .text-block {
        margin-left: 8.5vw;
        padding: 20px 0;
    }
    .info-block {
        grid-template-columns: 1fr 45%;
        column-gap: 15px;
    }

    /* "Опыт в области IT" */
    .to-do-list-general {
        height: 280px;
    }
    .construct-links-general {
        grid-template-rows: 120px auto;
        height: 380px;
    }

    /* "Footer" */
    .contact-block {
        width: 80%
    }
    



}

@media screen and (max-width: 1250px) { 
    body {
        width: 70%;
    }

    /* Меню и основной блок*/
    .nav {
        width: 85%;
    }
    #main-info {
        height: 450px;
    }
    .info-block {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "text-block"
                            "contacts";
        column-gap: 0;
    }   
    .photo img {
        height: 220px;
    }
    .text-block {
        margin-left: 190px;
        margin-bottom: 15px;
        position: relative;
        margin-right: 30px;
    }
    .contacts-portfolio-block {
        grid-area: contacts;
        grid-template-areas: "contact-bl portfolio-bl";
        grid-template-rows: 100%;
        grid-template-columns: auto auto;
        column-gap: 30px;
        position: absolute;
        left: 0;
        top: 300px;
        margin-right: 50px;
        width: 93%;
        margin-top: 20px;
    }
    .contacts-portfolio-block h3 {
        background-color: white;
    }
    .contacts {
        margin-right: 0;
    }
    .contacts ul {
        display: grid;
        grid-template-areas: "Li e-mail"
                            "tg viber";
        grid-template-rows: 50% 50%;
        grid-template-columns: auto auto;
        column-gap: 20px;
        margin-bottom: 0;
    }
    .Li-link {
        grid-area: Li;
    }
    .tg-link {
        grid-area: tg;
    }
    .email-link {
        grid-area: e-mail;
    }
    .viber-link {
        grid-area: viber;
    }
    .portfolio {
        margin-top: 25px;
        margin-bottom: 0;
        margin-right: 0;
    }
    .portfolio ul {
        margin-top: 15px;
    }

    /* "Опыт в области IT" */
    .hide-more-btn {
        margin-bottom: 10px;
    }
    


}

@media screen and (max-width: 1140px) { 
    body {
        width: 75%;
    }

    /* Меню и основной блок*/
    .nav {
        width: 90%;
    }
    .contacts-portfolio-block {
        column-gap: 20px;
    }
    .contacts h3 {
        padding: 10px 6px 10px;
        left: 5px;
    }
    .portfolio h3 {
        padding: 0 6px 6px;
        left: 5px;
    }

    /* "Опыт в области IT" */
    .workbook-general {
        height: auto;
        grid-template-rows: auto;
        grid-template-areas: 
                "workbook-screenshot workbook-main-info-block"
                "workbook-more-info-block workbook-more-info-block";
    }



}

@media screen and (max-width: 1095px) { 

    /* "Опыт в области IT" */
    .construct-links-general {
        height: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "construct-screenshot construct-links-main-info-block"
                             "construct-links-more-info-block construct-links-more-info-block";
    }


}


@media screen and (max-width: 1065px) { 

    /* "навыки" */
    .skills-list {
        grid-template-columns: 55% 42%;
    }


}

@media screen and (max-width: 1035px) { 
    
    /* Меню и основной блок*/
    #main-info {
        height: 470px;
    }
    .nav {
        width: 98%;
    }
    .text-block {
        margin-right: 30px;
    }
    .contacts {
        margin-top: 0;
    }
    .contacts ul {
        row-gap: 10px;
    }
    .contacts h3 {
        /*position: static;*/
        padding: 0 6px 10px;
        top: -11px;
    }
    .portfolio {
        margin-top: 0;
    }
    /*.portfolio h3 {
        position: static;
    }*/
    .contacts-portfolio-block {
        margin-top: 40px;
        column-gap: 10px;
    }
    
    /* "Footer" */
    .contact-block {
        width: 85%;
    }
    .contact-icons {
        column-gap: 20px;
    }
    


}

@media screen and (max-width: 1015px) { 
    
    /* Меню и основной блок*/
    #main-info {
        height: 460px;
    }
    .text-block {
        margin-bottom: 25px;
        padding: 20px 0 0;
    }
    .contacts-portfolio-block {
        margin-top: 25px;
    }

   



}

@media screen and (max-width: 1000px) { 
    
    /* Меню и основной блок*/
    #main-info {
        height: 550px;
    }
    .nav {
        width: 90%;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 10px;
    }
    .text-block {
        margin-bottom: 20px;
        padding: 10px 0 0;
    }
    .contacts-portfolio-block {
        column-gap: 10px;
        width: 92%;
        grid-template-areas: "contact-bl"
                            "portfolio-bl";
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        left: -25px;
        margin-right: 0;
        margin-top: 30px;
        margin-left: 20px;
    }
    .contacts ul {
        grid-template-rows: auto auto;
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .contacts h3 {
        position: absolute;
        top: -11px;
    }
    .portfolio h3 {
        position: absolute;
        top: -11px;
    }
    .portfolio ul {
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
    }

    /* "О себе" */
    .exp-line {
        grid-template-columns: 25% 1fr;
    }



}

@media screen and (max-width: 930px) { 
    
    /* Меню и основной блок*/
    #main-info {
        margin: 0 0 50px 25px;
        height: 540px; 
    }
    .photo {
        top: 30px;
        left: -20px;
    }
    .text-block {
        margin-left: 170px;
    }
    .contacts-portfolio-block {
        width: 97%;
        margin-top: 10px;
    }
    
    /* Секции - общее */
    section {
        margin: 15px 25px 50px;
    }

    /* "навыки" */
    .skills-list {
        grid-template-columns: 52% 45%;
    }

    /* "Хобби" */
    #hobby {
        margin: 15px 25px 50px;
    }
    
    /* "Footer" */
    .contact-block {
        width: 90%;
    }
    .contact-icons {
        column-gap: 15px;
    }


}

@media screen and (max-width: 834px) { 
    
    /* Меню и основной блок*/
    .contacts ul {
        width: 90%;
    }
    .portfolio ul {
        width: 90%;
    }




}

@media screen and (max-width: 824px) { 
    body {
        width: 80%;
    }

    /* Меню и основной блок*/
    #main-info {
        height: 550px;
    }
    .text-block {
        margin-bottom: 35px;
    }
    .contacts-portfolio-block {
        margin-top: 20px;
    }

    /* "Footer" */
    .contact-block {
        width: 95%;
    }



}

@media screen and (max-width: 770px) { 
    
    /* Меню и основной блок*/
    #main-info {
        height: 580px;
    }
    .photo {
        left: -10px;
    }
    .photo img {
        height: 150px;
    }
    .text-block {
        margin-left: 30px;
        display: grid;
        grid-template-areas: "... name"
                            "... occupation"
                            "... location"
                            "job-format job-format";
        grid-template-columns: 20% auto;
        column-gap: 20px;
        margin-bottom: 10px;
    }
    .name {
        grid-area: name;
        margin-bottom: 10px;
    }
    .occupation {
        grid-area: occupation;
        margin-bottom: 10px;
    }
    .location {
        grid-area: location;
    }
    .job-format {
        grid-area: job-format;
        margin-top: 50px;
    }
    .contacts-portfolio-block {
        margin-top: 50px;
    }
    .contacts ul {
        width: 95%;
    }
    .portfolio ul {
        width: 95%;
    }

    /* "Навыки" */
    .skills-list {
        grid-template-areas: "hardskills-left" 
                             "softskills-right";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        column-gap: 0;
        row-gap: 20px;
    }

    /* "Опыт в области IT" */
    .to-do-list-general {
        height: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "to-do-list-screenshot to-do-list-main-info-block"
            "to-do-list-more-info-block to-do-list-more-info-block";
    }
    .birthdates-general {
        grid-template-rows: auto;
        column-gap: 0;
        grid-template-areas: 
            "birthdates-screenshot" 
            "birthdates-main-info-block"
            "birthdates-more-info-block";
    }
    .rp-locations-general {
        column-gap: 15px;
    }
    .artkarta-general {
        column-gap: 0;
        grid-template-areas: 
            "artkarta-screenshot"
            "artkarta-main-info-block"
            "artkarta-more-info-block";
    }
    .novogrudok-general {
        column-gap: 0;
        grid-template-areas: 
            "novogrudok-screenshot" 
            "novogrudok-main-info-block"
            "novogrudok-more-info-block";
    }
    .collection-general {
        column-gap: 0;
        grid-template-areas: 
            "collection-screenshot"
            "collection-main-info-block"
            "collection-more-info-block";
    }
    .birthdates-screenshot img,
    .artkarta-screenshot img,
    .novogrudok-screenshot img,
    .collection-screenshot img {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    /* "Хобби" */
    .hobby-list {
        grid-template-areas: 
            "hobby-left" 
            "hobby-right";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        column-gap: 0;
        margin-top: 15px;
    }
    .hobby-list ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* "Footer" */
    .arrow {
        display: none;
    }
    .contact-block {
        grid-template-areas: "title icon-block";
        grid-template-columns: 20% auto;
        grid-template-rows: 100%;
        column-gap: 20px;
    }
    .footer-title {
        justify-self: right;
    }



}


@media screen and (max-width: 721px) { 
    
    /* Меню и основной блок*/
    #main-info {
        height: 590px;
    }
    .contacts ul {
        column-gap: 10px; 
        width: 100%;
    }
    .portfolio ul {
        margin-bottom: 10px;
    }


}

@media screen and (max-width: 674px) { 
    body {
        width: 85%;
    }

    /* Меню и основной блок*/
    #main-info {
        height: 580px;
    }
    .text-block {
        column-gap: 30px;
    }
    .job-format {
        margin-top: 50px;
    }
    .contacts-portfolio-block {
        row-gap: 20px;
        margin-top: 50px;
    }

    /* "Опыт в области IT" */
    .general-block {
        grid-template-rows: auto;
        grid-template-columns: 100%; 
        column-gap: 0;
    }
    .screenshot img {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .to-do-list-general {
        grid-template-areas:
            "to-do-list-screenshot"
            "to-do-list-main-info-block"
            "to-do-list-more-info-block";
    }
    .construct-links-general {
        grid-template-areas: 
            "construct-screenshot"
            "construct-links-main-info-block"
            "construct-links-more-info-block";
    }
    .workbook-general {
        grid-template-areas: 
            "workbook-screenshot"
            "workbook-main-info-block"
            "workbook-more-info-block";
    }
    .rp-locations-general {
        grid-template-areas: 
            "rp-locations-screenshot"
            "rp-locations-main-info-block"
            "rp-locations-more-info-block";
    }



}

@media screen and (max-width: 640px) { 
    
    /* Меню и основной блок*/
    .info-block {
        width: 95%;
    }
    .text-block {
        grid-template-columns: 30% auto;
    }

    /* "О себе" */
    .exp-line {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        row-gap: 5px;
    }
    .exp-date {
        text-align: left;
        border-left: 1px solid #929292;
        border-right: 1px solid transparent;
        padding-left: 10px;
    }
    .current-exp {
        grid-template-areas: "current-exp-date" 
                            "current-exp-text";
    }
    .lecturer-bsu-exp {
        grid-template-areas: "lecturer-bsu-exp-date"
                            "lecturer-bsu-exp-text";
    }
    .design-exp {
        grid-template-areas: "design-exp-date" 
                            "design-exp-text";
    }
    .cartography-exp {
        grid-template-areas: "cartography-exp-date" 
                            "cartography-exp-text";
    }

    /* "Опыт в области IT" */
    .experience-block {
        grid-template-areas: "experience-date" 
                             "experience-text";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        column-gap: 0;
    }
    .experience-date {
        border-left: 1px solid #929292;
        padding-left: 15px;
        text-align: left;
    }
    p.experience-text{
        margin: 0;
    }
    
    /* "Footer" */
    .footer-title {
        display: none;
    }
    .contact-block {
        grid-template-areas: "icon-block";
        grid-template-columns: auto;
        column-gap: 0;
    }
    .contact-icons {
        column-gap: 25px;
    }



}

@media screen and (max-width: 558px) { 
    
    /* Меню и основной блок*/
    #main-info {
        height: 640px;
    }
    .job-format {
        margin-top: 30px;
    }
    .contacts {
        padding: 15px 25px 20px;
    }
    .contacts ul {
        grid-template-areas: "Li"
                             "tg"
                             "e-mail"
                             "viber";
        grid-template-rows: auto;
        grid-template-columns: 100%;
        row-gap: 5px;
    }

    /* "Footer" */
    .contact-icons {
        column-gap: 15px;
    }



}

@media screen and (max-width: 520px) { 

    /* "Footer" */
    .contact-icons {
        grid-template-areas: 
            "in tg gh" 
            "email email email";
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 10px;
    }



}



@media screen and (max-width: 480px) { 
    body {
        width: 90%;
    }

    /* Меню и основной блок*/
    .info-block {
        width: 100%;
    }
    .photo {
        left: -20px;
    }
    .text-block {
        margin-right: 20px;
        margin-left: 20px;
    }
    .contacts-portfolio-block {
        margin-top: 60px;
    }

    /* "Опыт в области IT" */
    .screenshot img {
        width: 80%;
    }



}

@media screen and (max-width: 430px) { 

    /* Меню и основной блок*/
    #main-info {
        height: 690px;
    }
    .text-block {
        margin-left: 30px;
        grid-template-areas: "... name"
                            "... occupation"
                            "location location"
                            "job-format job-format";
        grid-template-columns: 35% auto;
    }
    .location {
        margin-top: 50px;
    }
    .job-format {
        margin-top: 0;
    }
    .contacts-portfolio-block {
        margin-top: 100px;
    }

    /* "О себе" */
    .education {
        padding-left: 30px;
    }

}

@media screen and (max-width: 400px) { 

    /* Меню и основной блок*/
    .text-block {
        margin-left: 20px;
    }
    .contacts {
        padding: 15px 15px 20px;
    }



}

@media screen and (max-width: 370px) { 

    /* Меню и основной блок*/
    #main-info {
        height: 720px;
    }
    .text-block {
        grid-template-columns: 40% auto;
    }
    .contacts-portfolio-block {
        margin-top: 110px;
    }

    /* "О себе" */
    .education {
        padding-left: 20px;
    }

    /* Навыки" */
    .hardskills-left-list, 
    .softskills-right-list {
        margin-left: 0px;
    }

    /* "Языки" */
    .english-exp-use-block {
        margin-left: 0;
    }

    /* "Опыт в области IT" */
    .screenshot img {
        width: 220px;
        margin: 0 auto;
    }


}

@media screen and (max-width: 335px) { 

    /* Меню и основной блок*/
    #main-info {
        height: 740px;
    }
    .contacts-portfolio-block {
        margin-left: 15px;
    }
    .contacts-portfolio-block {
        margin-top: 130px;
    }




}

@media screen and (max-width: 320px) { 

    /* Меню и основной блок*/
    .photo img {
        height: 130px;
    }
    .location {
        margin-top: 30px;
    }
    .email-link span {
        font-size: 13px;
    }




}

